@import url('/fonts/stylesheet.css');

@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-repeat: no-repeat;
  background-size: contain;
  background-color:hsl(225, 100%, 94%);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (max-width: 600px)
{
  body
   {
      background-image: url('/images/pattern-background-mobile.svg');

   }
}

@media (min-width: 601px)
{
  body
   {
      background-image: url('/images/pattern-background-desktop.svg');

   }
}